.create-events-wrapper{
    display: flex;
    align-items: center;
}
.create-events__stepper{
    background-color: rgba(236, 236, 236, 0.55);
    padding: 1rem 1.5rem;
    width: 30%;
    max-width: 20rem;
    position: fixed;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}
.create-events-stepper__main{
    border-block: 1px solid grey;
    padding-block: 1rem;
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.create-events__summary{
    row-gap: 1.5rem;
    background-color: white;
    padding: 1rem 1.25rem;
    font-family: "Microsoft PhagsPa", sans-serif;

    p{
        font-size: 1.5rem;
        font-weight: 600;
    }
}
.create-events-stepper__wrapper{
    row-gap: 1rem;
}
.create-events-stepper__wrapper > p{
    font-size: 1.25rem;
}
.create-events-stepper__step{
    display: flex;
    color: gray;
    border: 2px solid transparent;
    transition: all .15s linear;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.create-events-stepper__step:hover:not(.create-events__disabled-step, .create-events__active-step){
    border-color: white;
    background-color: #e1e1e1;
    cursor: pointer;
}
.create-events-stepper__step p:first-child{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.create-events-stepper__step p:last-child{
    font-size: .9rem;
    margin-top: .2rem;
}
.create-events__active-step{
    color: black;
    background-color: rgb(222, 222, 222);
    padding-block: .5rem;
    border-radius: .25rem;
}
.create-events-stepper__current-step:hover{
    cursor: default;
}
.create-events__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    flex-grow: 1;
    margin-left: 20%;
    align-self: flex-end;
    padding-block: 1rem;
    width: 100%;
}
.create-events__main > div:not(.organizer-create-ticket, .event-publish){
    width: 60%;
    min-width: clamp(20rem, 70%, 40rem);
    border: 2px solid #bbbbbb;
    padding: 1.25rem;
    border-radius: 1rem;
    display: flex;
    height: fit-content;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
}
.create-events__main > div:hover{
    border-color: #004b86;
}
.expand-btn{
    position: absolute;
    background-color: #004b86;
    right: .5rem;
    top: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.expand-btn:hover{
    cursor: pointer;
}
.create-events-main__event-title{
    font-family: "Microsoft Tai Le", sans-serif;
    font-size: .9rem;
    color: #656565;
}
.create-events-title__title{
    font-size: 3rem;
    font-weight: 1000;
    font-family: "Gill Sans MT", sans-serif;
    color: black;
}
.event-overview-form {
    background-color: #fff;
    border-radius: 8px;
}

.event-overview-form .form-label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.event-overview-form .form-description {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.event-overview-form .see-examples {
    color: #2464e0;
    text-decoration: underline;
    cursor: pointer;
}

.event-overview-form .input-wrapper {
    position: relative;
}

.event-overview-form .character-counter {
    text-align: right;
    font-size: 0.8rem;
    color: #666;
    margin-top: 0.5rem;
}

.event-overview-form .suggest-summary-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: #2464e0;
    border-color: #2464e0;
}
.create-events-main__continue-btn {
    position: fixed;
    bottom: 1rem;
    left: 6rem;
    width: 17rem;
    padding: .75rem 1.25rem;
    margin: 0;
    font-size: 1rem;
    background-color: white;
    color: black;
    transition: all .15s linear;
    border-color: #2e73d2;
}

.create-events-main__continue-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #004b86;
}
.create-events__disabled-step{
    color: #c4c4c4;
}
.create-events__disabled-step:hover{
    cursor: not-allowed;
}
.complete-section{
    box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.5);
    position: relative;
}
.complete-section::after{
    content: "✅";
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 3rem;
    transform: translateY(-50%) translateX(-125%);
    background-color: rgba(245, 245, 245, 0.7);
    padding: 1rem;
    border-radius: 50%;
    z-index: 1;
}