.event-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    font-family: "Nunito", sans-serif;
}
.event-view__hero{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70dvh;
    align-items: flex-end;
}
.event-view__hero > div{
    height: 95%;
    width: 80%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    border-radius: 2rem;
    overflow: hidden;
}
.event-view__hero img{
    height: 100%;
    scale: 1.3;
    max-width: 60%;
}
.event-view__content{
    width: 80%;
    position: relative;
    margin-block: 2rem;
}
.event-view__date{
    font-size: 1.25rem;
    color: #344c50;
    font-family: Arial, sans-serif;
}
.event-view__title{
    font-size: 3.25rem;
    font-family: "Gill Sans MT", sans-serif;
    font-weight: bold;
}
.event-view__summary{
    font-size: 1rem;
    color: #2c313d;
    font-family: "Microsoft Tai Le", sans-serif;
}
.event-view__organizer{
    background-color: #f8f8f8;
    padding: 1rem 1.5rem;
    align-items: center;
}
.event-view__organizer-stats{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.event-view__details-heading, .event-view__location-heading, .event-view__about-heading, .event-view__organizer-title, .event-view__refund-policy-heading, .event-view__faqs-heading{
    font-size: 1.5rem;
    color: #bd1c1c;
    font-family: "Microsoft Tai Le", sans-serif;
}
.event-view__location-map, .event-view__details-date, .event-view__registration-price{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.event-view__registration-price{
    text-transform: capitalize;
    color: #2c313d;
    font-size: 1rem;
}
.event-view__location-map{
    color: #3b82f6;
    cursor: pointer;
}
.event-view__organizer-overview{
    background-color: #f8f8f8;
    padding: 1rem 1.5rem;
}
.event-view__organizer-name{
    font-size: 1.2rem;
    font-family: "Microsoft Tai Le", sans-serif;
}
.event-view__follow-button, .event-view__contact-button{
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}
.event-view__follow-button{
    background-color: #3b82f6;
    color: white;
}
.event-view__organizer-description{
    font-family: "Microsoft Tai Le", sans-serif;
    color: #2c313d;
}
.event-view__organizer-stats{
    background-color: #ff8787;
    width: fit-content;
    padding: .1rem .5rem;
    border-radius: .5rem;
    margin-top: .25rem;
}
.event-view__registration{
    width: 22.5rem;
    position: absolute;
    top: 0;
    right: 0;
}
.event-view__registration-details{
    border: 3px solid #500744;
    padding: 1.05rem;
    border-radius: 1rem;
    font-family: "Microsoft Tai Le", sans-serif;
    font-size: 1.15rem;
}
.event-view__registration{
    background-color: rgb(250, 250, 250);
    padding: 1.5rem;
    border: 1px solid #d7d7d7;
    border-radius: .5rem;
}
.event-view__quantity-button{
    cursor: pointer;
    background-color: #2f6cc5;
    color: white;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    user-select: none;
}
.event-view__registration-button{
    background-color: #d00d0d;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: bold;
}
.event-view__registration-button:hover{
    background-color: #bb0303;
}
.event-view__report{
    column-gap: .5rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
}
.event-view__report:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}
.event-view__social-links .MuiSvgIcon-root:hover{
    color: black;
}
.event-view__sale-ending{
    column-gap: .25rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    align-self: flex-end;
    background-color: #f8ff9e;
    color: #e51010;
    padding: .5rem .75rem;
    font-weight: bold;
    border-radius: .5rem;
    font-family: "Microsoft Tai Le", sans-serif;
}
.event-view__tag{
    background-color: #f8f8f8;
    padding: .5rem 1.25rem;
    border-radius: 1rem;
    font-size: .9rem;
    font-family: Arial, sans-serif;
    cursor: pointer;
    color: #4f4242;
}
.event-view__tag:hover{
    background-color: #e8e8e8;
}
.ended-notify{
    background-color: #d9d9d9;
    color: #1d1d1e;
    padding: .75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Microsoft Tai Le", sans-serif;
    position: absolute;
    top: 4rem;
    width: 100%;
}
.view-more-btn{
    background-color: #b92020;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: bold;
}
.event-view__view-detail-btn{
    background-color: transparent;
    padding: .5rem 2rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.event-view__about-duration{
    font-family: "Microsoft Tai Le", sans-serif;
    color: #2c313d;
    font-size: 1.1rem;
    > .MuiSvgIcon-root{
        font-size: 2rem;
    }
}
.order-summary{
    font-family: "Nunito", sans-serif;
}