.logged-in-user-nav{
    position: relative;
    border-radius: 0;
}
.logged-in-user-nav:hover{
    border-radius: 0;
    cursor: pointer;
    .user-sub-nav{
        visibility: visible;
    }
}
.user-sub-nav{
    visibility: hidden;
    font-size: 16px;
    font-family: "Leelawadee UI", sans-serif;
    position: absolute;
    background-color: white;
    padding: .5rem 1rem;
    width: 125%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.user-sub-nav div{
    padding: 0.5rem;
    transition: background-color 0.15s ease-out;
}
.user-sub-nav div:not(.language-select):hover{
    background-color: #ffa8a8;
    cursor: pointer;
}
.language-select-wrapper{
    position: relative;
}
.language-select{
    position: absolute;
    top: 0;
    left: -80%;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}
.language-select-wrapper:hover .language-select{
    display: block;
}
.language-select:hover{
    display: block;
}
.language-select p{
    padding: 0.5rem;
    transition: all 0.1s ease-out;
}
.language-select p:hover{;
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.35);
}
.language-select p.selected{
    border-left: 8px solid #283b50;
    border-radius: .25rem;
}
