.order-detail-content-wrapper{
    font-family: 'Nunito', sans-serif;
    column-gap: 2rem;
}
.order-ticket-wrapper{
    column-gap: 1rem;
    display: flex;
}
.order-ticket-wrapper > .order-ticket:not(:first-child){
    transform: translateX(-80%);
}
.order-ticket{
    opacity: 0.5;
    z-index: 0;
    transition: all 0.3s;
    filter: blur(2px);
}
.selected-ticket{
    opacity: 1;
    z-index: 3;
    background-color: white;
    filter: none;
}
.order-detail-title{
    font-size: 1.2rem;
}
.order-detail-content{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #abb6be;
    max-width: 25rem;
}