.organizer-create-ticket{
    margin-left: -10rem;
    position: relative;
}
.organizer-create-ticket__title{
    font-size: 3rem;
    font-weight: 1000;
    font-family: "Gill Sans MT", sans-serif;
    color: black;
    min-width: 40rem;
}
.organizer-create-ticket__ticket-type{
    border: 2px solid rgba(239, 239, 239, 0.44);
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: .25rem;
}
.ticket-type__title, .organizer-create-ticket{
    font-family: "Microsoft Tai Le", sans-serif;
}
.ticket-type__title{
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: capitalize;
}
.ticket-type__description{
    font-size: .9rem;
    color: gray;
}
.organizer-create-ticket__ticket-type:hover{
    cursor: pointer;
    border-color: #004b86;
}
.organizer-create-ticket__detail{
    position: fixed;
    right: 0;
    padding: 1rem;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 90%;
    max-height: fit-content;
    bottom: 0;
}
.organizer-detail__main{
    border-block: 1px solid #bbbbbb;
    margin-block: 1rem;
    padding-block: 1rem;
}
.organizer-ticket-detail__ticket-type{
    border: 1px solid gray;
    padding: .5rem 1.75rem;
    text-transform: capitalize;
}
.organizer-ticket-detail__ticket-type:hover{
    cursor: pointer;
    border: 1px solid #004b86;
    background-color: rgba(0, 75, 134, 0.1);
}
.ticket-type-active {
    border-color: #004b86;
    background-color: rgba(0, 75, 134, 0.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.organizer-ticket-detail__actions{
    background-color: white;
}
.organizer-ticket-detail__actions button{
    border: 1px solid #004b86;
    background-color: transparent;
    padding: .5rem 1rem;
    width: 50%;
}
.organizer-ticket-detail__actions button:last-child{
    background-color: #004b86;
    color: white;
}
.organizer-ticket-detail__actions button:hover{
    cursor: pointer;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.organizer-create-ticket__detail {
    animation: slideInFromLeft 0.4s ease-out;
}
.tickets-section__tab-active{
    color: white;
    background-color: rgba(212, 242, 255, 0.72);
}