.top-nav-container{
    padding: 10px 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid gray;
    font-family: DengXian, sans-serif;
    font-size: .9rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.top-nav-container.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.top-nav-container.visible {
    transform: translateY(0);
    opacity: 1;
}
.top-nav-input-container{
    border: 1px solid #c5c5c5;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.74);
}
.top-nav-input-container > div{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.top-nav-input-container > div:first-child{
    border-right: 1px solid;
}
.top-nav-input-container__input{
    min-width: 15rem;
    margin-left: 5px;
}
.top-nav-container__nav-links-container > div{
    padding-inline: 1rem;
    border-radius: 10px;
}
.top-nav-container__nav-links-container > div:hover:not(.logged-in-user-nav){
    background-color: #dddddd;
    padding: .5rem 1rem;
}
.top-nav__search-btn{
    background-color: #c90f0f;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 3px 4px;
}
.top-nav-input-container:hover{
    box-shadow: 2px 3px 10px 0 #989898;
}