:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
input{
    border: none;
    background-color: transparent;
    outline: none;
}
.help-link, .link{
    color: #0040e5;
    display: inline-flex;
}
.go-back-link{
    font-family: Rockwell, sans-serif;
    font-size: 1.05rem;
    color: #0040e5;
    padding-block: .1rem;
    display: inline;
}
.go-back-link:hover, .link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.disabled:hover{
    cursor: not-allowed;
}