@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
input{
    border: none;
    background-color: transparent;
    outline: none;
}
.help-link, .link{
    color: #0040e5;
    display: inline-flex;
}
.go-back-link{
    font-family: Rockwell, sans-serif;
    font-size: 1.05rem;
    color: #0040e5;
    padding-block: .1rem;
    display: inline;
}
.go-back-link:hover, .link:hover{
    cursor: pointer;
    text-decoration: underline;
}
#disabled{
    user-select: none;
    pointer-events: none;
}
#disabled:hover{
    cursor: not-allowed;
}
.render-html{
    line-height: 2;
    font-family: "Raleway", sans-serif;
    color: #2a2727;
    font-optical-sizing: auto;
    a{
        color: #0040e5;
    }
    p{
        font-size: 1.1rem;
    }
    li{
        margin-left: 2rem;
    }
}